.DS_Store
/.idea/*
/assets/vendor/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/bundle/nsq.yml
/app/logs/*
/app/spool/*
/app/Resources/uploads
/behat.yml
/bin
/*.tar.gz
/composer.phar
/node_modules/
node_modules
/vendor/
/web/bundles/
/web/dist/
/web/js
/web/sitemap.xml
/web/robots.txt
/trans
/app/bundles
TEST-**
gulpfile.local.js
