<div class="page-header">
    <h3>International Deposit Information</h3>
</div>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td colspan="2">
            <h4>Deposit receipt</h4>
        </td>
    </tr>
    <tr>
        <td><strong>Beneficiary</strong></td>
        <td>Mayzus Financial Services Limited, organizacni slozka</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Address</strong></td>
        <td>U Vystaviste 287/17,170 00 Praha 7, Czech Republic</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Account</strong></td>
        <td>216367899</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Czech Bank Code</strong></td>
        <td>0600</td>
    </tr>
    <tr>
        <td><strong>Beneficiary IBAN</strong></td>
        <td>CZ93 0600 0000 0002 1636 7899</td>
    </tr>
    <tr>
        <td><strong>Details of Payment</strong></td>
        <td>ACC.AGR.9311.36107 {{ deposit.wallet.user.username }}</td>
    </tr>
    <tr>
        <td colspan="2" style="text-align:center;"><strong>For foreign payments please use Beneficiary IBAN - CZ93 0600 0000 0002 1636 7899</strong></td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank</strong></td>
        <td>GE MONEY BANK, A.S</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank Address</strong></td>
        <td>Vyskočilova 1422/1a, 140 28 Praha 4, Czech Republic</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank SWIFT</strong></td>
        <td>AGBACZPP</td>
    </tr>
    <tr>
        <td colspan="2">&nbsp;</td>
    </tr>
    <tr>
        <td><strong>Correspondent Bank</strong></td>
        <td>DEUTSCHE BANK TRUST COMPANY AMERICAS</td>
    </tr>
    <tr>
        <td><strong>Correspondent Bank City</strong></td>
        <td>New York</td>
    </tr>
    <tr>
        <td><strong>Correspondent Bank Country</strong></td>
        <td>USA</td>
    </tr>
    <tr>
        <td><strong>Correspondent Bank SWIFT</strong></td>
        <td>BKTRUS33XXX</td>
    </tr>
    <tr>
        <td><strong>Correspondent Bank Account</strong></td>
        <td>04164985</td>
    </tr>

    </tbody>
</table>
