<div class="page-header">
    <h3>SEPA Deposit Information</h3>
</div>
<table class="table table-bordered">
    <tbody>
    <tr>
        <td colspan="2">
            <h4>Deposit receipt</h4>
        </td>
    </tr>
    <tr>
        <td><strong>Beneficiary</strong></td>
        <td>Mayzus Financial Services Ltd</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Address</strong></td>
        <td>869 High Road, London, N12 8QA, UK</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Account</strong></td>
        <td>4003928000</td>
    </tr>
    <tr>
        <td><strong>Beneficiary IBAN</strong></td>
        <td>DE40700111104003928000</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank</strong></td>
        <td>Deutsche Handelsbank</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank Address</strong></td>
        <td>Elsenheimerstrasse 41 80687 Munich Germany</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank BLZ</strong></td>
        <td>700 111 10</td>
    </tr>
    <tr>
        <td><strong>Beneficiary Bank SWIFT</strong></td>
        <td>DEKT DE 71 002</td>
    </tr>
    <tr>
        <td><strong>Details of Payment</strong></td>
        <td>ACC.AGR. 9311.36107 {{ deposit.wallet.user.username }}</td>
    </tr>
    </tbody>
</table>
